@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --fonts-fam: 'Source Sans Pro', sans-serif;
    --font-color : #E84949;
    --norm-color : #000000;
    --info-color : #8d8d8d;
    --portfolio_link: #56ACE0;
    --dark-link-color:#0571AD ;
    --gradient: linear-gradient(to bottom, #56ACE0 0%, #4F47C8 100%);

}

body{
    margin: 0px;
    padding: 0px;
}
 

main{
    position: relative;
    padding-left: 7%;
    padding-right: 7%;
}

.circle{
    position: absolute;
    height: 70px;
    width: 172;
    top: 420px;
    right: 90px;
}

.ellipse{
    position: absolute;
    /* height: 70px;
    width: 172; */
    top: 420px;
    right: 490px;    
}

.zigzag{
    height: 146px;
    width: 56px ;
    position: absolute;
    top: 40px;
    right: 480px;
}

.plus{
    height: 27px;
    width: 26px;
    position: absolute;
    top: 20px;
    right: 250px ;

}

.cube{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 23px;
    right: 80px ;
}


/* nav bar styling*/
nav{
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom:  20px;
    font-family: var(--fonts-fam);
    font-size: 1.8em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--norm-color);
}

/* nav bar logo  */
nav .logo{
    color: var(--font-color);
}


/* nav bar links */
.menu a{
    color: var(--norm-color);
    margin-left: 80px;
    text-decoration: none;
    
}

/* project link styling */
.menu a span{
    color:var(--font-color)
}

/* about me section */
.about_me_section{
    /* margin-top: 70px; */
    margin-bottom:  70px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

/* info div in the about me section  */
.info{
    position: relative;
    padding-top: 70px;
    font-family: var(--fonts-fam);
    width: 50%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cube2{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 120px;
    left: 60px ;
}

.info button{
    font-family: var(--fonts-fam);
    cursor: pointer;
    border: none;
    background-color: var(--font-color);
    color: #fff;
    font-size: 1em;
    padding: 15px;
    box-shadow: 0px 2px 3px #202020;
}

.info h1{
    font-size: 37px;
    margin-top: 2.1em;
    margin-bottom: 15px;
}

.info p{
    color: #8d8d8d;
    font-size: 1.5em;
}
/* img div in the about me section  */
.hero_img{
    position: relative;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 10%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* picture in the img div  */
.hero_img>.img_border img{

    border-radius: 50%;
    height: 360px;
    width: 360px;
}

.hero_img .img_border{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--font-color) ;
    height: 385px;
    width: 385px;
    border-radius: 50%;
}


/* the skills section  */

.headings{
    text-align: center;
    font-size: 1.5em;
    color: var(--font-color);
    font-family: var(--fonts-fam);
    padding-top: 20px;
    padding-bottom: 20px;
}

.headings h2::before, .headings h2::after{
    content: " ";
    vertical-align:middle;
    display: inline-block;
    border-top: 2px solid;
    width: 20%;
    margin: 10px;
}

.skills_section .skills{
    display: flex;


}

.skills_section .skills_set{
    width: 60%;
    font-family: var(--fonts-fam);
    color: var(--info-color);
    font-size: 1.3em;
    
}

.skills_section .skills_image{
    width: 40%;
}

.skills_section .skills_image img{
    width: 411px;
    height: 326px;
}


/* portfolio section  */
.portfolio_section>div>p{
    text-align: center;
    font-family: var(--fonts-fam);
    color: var(--info-color);
    font-size: 1.3em;
    
}

.portfolio_row{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.portfolio{
    border: 2px double var(--dark-link-color);
    flex-direction: column;
    width: 29%;
    height: 410px;
    text-align: center;  
    font-family: var(--fonts-fam);
    color: var(--info-color);
}

.portfolio p{
    text-align: center;
    font-size: 1.3em ;
}


.portfolio a{
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--dark-link-color);
    text-decoration: none;
}

.portfolio a img{
    height: 22px;
    width: 22px;
    margin-right:5px;
}


.bg1{
    filter: blur(1px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(/pics/Screenshot\ \(15\).png);
    height: 50%;
}

.bg1:hover{
    filter: blur(0px);
}

.bg2{
    filter: blur(1px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(/pics/Screenshot\ \(16\).png);
    height: 50%;
}

.bg2:hover{
    filter: blur(0px);
}

.bg3{
    filter: blur(1px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(/pics/Screenshot\ \(17\).png);
    height: 50%;
}

.bg3:hover{
    filter: blur(0px);
}

.bg4{
    filter: blur(1px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(/pics/Capture.PNG);
    height: 50%;
}

.bg4:hover{
    filter: blur(0px);
}

.bg5{
    filter: blur(1px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(/pics/todo.PNG);
    height: 50%;
}

.bg5:hover{
    filter: blur(0px);
}
.github{
    margin-top: 50%;
    font-size: 1.4em;
} 


/* contact section  */

.contact_section{
    margin: 20px;
}

.contact_section .contacts_info{
    display: flex;

}

.contact_section .contacts_info .man_standing{
    width: 50%;
}

.contact_section .contacts_info .contact{
    width: 50%;
}

.contact_section .contacts_info .man{
    height: 321px;
    width: 486px;
}


.contact{
    padding-left: 3      0px;
}

.contact div input{
    padding: 15px;
    border: none;
    box-shadow: 0px 1px 2px;
    font-family: var(--fonts-fam);
    width: 70%;
    margin-bottom: 10px;


}

.contact div input::placeholder{
 text-decoration: underline;
 font-size: 15px;
}

.contact div textarea{
    padding: 20px;
    border: none;
    box-shadow: 0px 2px 3px;
    font-family: var(--fonts-fam);
    width: 70%;
    margin-bottom: 10px;

}

.contact div textarea::placeholder{
    font-size: 15px;
}

.contact button img{
    height: 42px;
    width: 34px;
}

.contact button{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: none;
    font-family: var(--fonts-fam);
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 10px;
    background-color: #4F47C8;
    box-shadow: 0px 2px 3px;
}

/* footer section  */

footer{
    font-size: 1.2em;
    padding: 20px;
    color: #fff;
    font-family: var(--fonts-fam);
    background-image: var(--gradient);
    display: flex;
    justify-content:space-around;
}

footer img{
    height: 35px;
    width: 35px;
    margin-right: 10px;
}


footer .foot{
    display: flex;
    align-items: center;
}

footer .foot a{
    text-decoration: underline;
    color: #fff;
}
